<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Entrelinhas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta data-react-helmet="true" name="mobile-web-app-capable" content="yes" />
    <meta data-react-helmet="true" name="format-detection" content="telephone=no" />
    <!-- conexao com CSS -->
    <link rel="stylesheet" crossorigin="anonymous"
        href='https://s3.glbimg.com/v1/AUTH_c7def7ff66fe4b13beac0810ffbf780f/secure/app-client-bundle-f64000f.css' />
    <!-- fim da conexão -->
    <!-- inserindo links do bootsrap-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='poster_image.css')}}">

  </head>
  <body>
    <div id="app">
        <div>
            <div class="app-layout">
                <div class="application-controller__layout">
                    <div class="header__placeholder"></div>
                    <header class="header">
                        <div class="header__menu-icon">
                        <!-- DEIXANDO AQUI SÓ PQ QUANDO TIRO A LOGO FICA FORA DE MARGEM -->  
                        </div>
                        <a class="header__logo"
                            aria-label="Página inicial Globoplay" href="/">
                            <img src="{{url_for('static', filename='logo_entrelinhas.svg')}}" alt="" width="200" 
                            fill="none" viewBox="0 0 588 128">
                            
                        </a>
                        <!-- inserindo nova logo -->
                        


                        <nav aria-label="Menu principal" class="header__primary-menu"></nav>
                     
                    </header>
                    
                    <div style="color: white;"">
                    {% block conteudo %} 

                    {% endblock %}
                    </div>

                    <!-- Informaçoões do final da página [inicio] -->
                    <footer class="footer-widget">
                        <!-- exibe quando o formato for para mobile {começo} -->
                        <div class="footer-widget--short grid">
                            <p class="footer-widget__text">©
                                <!-- -->2023
                                <!-- --> Globo Comunicação e Participações S.A.
                            </p>
                            <p class="footer-widget__text">Todos os direitos reservados - </p>
                        </div> <!-- exibe quando o formato for para mobile {fim} -->

                        <!-- exibe quando o formato for para website {começo} -->
                        <div class="footer-widget--long grid">Globo.com © 2000-
                            <!-- -->2023
                            <!-- --> Globo Comunicação e Participações S.A. - Todos os direitos reservados 
                        </div>
                        <!-- exibe quando o formato for para website {fim} -->
                    </footer>
                    <!-- Informaçoões do final da página [inicio] -->

                </div>
                <div style="position:fixed;z-index:9999;top:16px;left:16px;right:16px;bottom:16px;pointer-events:none">
                </div>
            </div>
        </div>
    </div>

   
      



</body>
</html>