
{% extends "base.html" %} 
{% block conteudo %}
<!-- CSS -->
<div id="number-input">
    <form method="post" action="/resultado">
        <label for="trajeto">
            <br><br><br><br><br><br>
            Digite um valor:
        </label>
        <input type="number" style="color: black;" name="trajeto" id="trajeto" required />
        <button type="submit" style="color: black;">Enviar</button>
        <!-- checkbox -->
        <div class="Categorias">
            <div>
                <input type="checkbox" name="Categorias" value="Acao">
                <label >Ação</label>
            </div>

            <div>
                <input type="checkbox" name="Categorias" value="Comedia">
                <label >Comédia</label>
            </div>

            <div>
                <input type="checkbox" name="Categorias" value="Drama">
                <label >Drama</label>
            </div>

            <div>
                <input type="checkbox" name="Categorias" value="Ficcao Cientifica">
                <label >Ficção Científica</label>
            </div>

            <div>
                <input type="checkbox" name="Categorias" value="Romance">
                <label >Romance</label>
            </div>

            <div>
                <input type="checkbox" name="Categorias" value="Suspense">
                <label >Suspense</label>
            </div>

            <div>
                <input type="checkbox" name="Categorias" value="Terror">
                <label >Terror</label>
            </div>

        </div>

    </form>
</div>

{% endblock %}