{% extends "base.html" %}
{% block conteudo %}
  <div class="resultado">
    <br>
    <h4>Minha lista de Downloads:</h4>

    <section class="movie-list">
      <div class="card-container">
        {% for resultado in resultados %}
        <div class="card">
          <div class="card-info">
            <div class="item-time">{{resultado.Duracao}}</div>
            <div class="item-category">{{ resultado.Categoria}}</div>
          </div>
          <img src="{{ resultado.Imagem }}">
          <div class="card-body">
            <h5 class="card-title">{{ resultado.Nome}}</h5>
          </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </section>
    <br><br>
    <div class="bloco">
      <p>Journeyflix,<br>Conteúdo sob medida para o seu caminho diário!</p>
    </div>
    <br><br><br>
  </div>

{% endblock %}

